<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="" ng-click="back()">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Direct Reports</h1>
    </div>
</div>

<div class="topcoat-list__container scroller" style="top:69px;">
    <ul class="topcoat-list list">
        <li ng-repeat="employee in employees | filter:query | orderBy:orderProp" class="topcoat-list__item">
            <a ng-click="go('/employees/' + employee.id)">
                <img ng-src="pics/{{employee.pic}}">
                <p>{{employee.firstName}} {{employee.lastName}}</p>
                <p>{{employee.title}}</p>
                <span class="chevron"></span><span class="count">{{employee.reports}}</span>
            </a>
        </li>
    </ul>
</div>